<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WriteWave</title>
</head>
<body style="font-family: monospace; background-color: rgb(176, 168, 168);">
    <%- include('navbar') %>
    <div class="container ">
        <div class="row">
          <div class="col" style="text-align: center;">
            <h4>
              Welcome to
              <h3 style="color: rgb(24, 78, 122);">WriteWave</h3>
            </h4>
            <h4>Where Ideas Come to Life!</h4>
            <br>
  
            <p style="text-align: left;">
              Discover a world of creativity and knowledge-sharing at <span style="color: rgb(24, 78, 122);">WriteWave</span>. Whether you're a passionate writer, an avid reader,
              or someone looking for inspiration, our platform is here to empower
              you. Dive into a diverse collection of articles covering a wide
              range of topics, or unleash your creativity by sharing your own
              thoughts and stories with our vibrant community.
            </p>
            <p style="text-align: left;">
              Join us on a journey of exploration, learning, and connection.
              Together, let's create, inspire, and make a difference. Start your
              adventure today!"
            </p>
          </div>
          <div class="col">
            <img src="/img5.jpg" alt="image not found" class="rounded-pill m-5" height="400px" width="400px">
          </div>
        </div>
      </div>
</body>
</html>